
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">重启参数</h4>
            </div>
            <div class="panel-body">
                <form id="projectreform" name="projectreform" class="form-inline" role="form">
                    <select class="form-control selectpicker show-tick" data-live-search="true" onchange="operate.GetProjectServers()" id="project_active" name="project_active" title="请选择项目名">
                        <option>test</option>
                    </select>
                    <select class="form-control selectpicker show-tick" id="servers_id" name="servers_id" title="请选择服务器地址">
                    </select>
                    <button id="btn_submit" type="submit" class="btn btn-default">重启</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">返回结果</h4>
            </div>
            <div class="panel-body">
                <pre class="pre-scrollable" id="commandresults"></pre>
            </div>
        </div>

<script src="/static/custom/tablejs/saltstack_restart.js" type="text/javascript"></script>
