pre{
    width:100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.pre-scrollable {
    max-height: 500px;
    overflow-y: scroll;
}

xmp {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  	margin-bottom: 10px;
  	overflow: auto;
  	width: auto;
  	padding: 5px;
  	background-color: #eee;
  	width: 650px!ie7;
  	padding-bottom: 20px!ie7;
	width:100%;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#left{
    position:absolute;
    top:55px;
    left:0;
    bottom:0;
    width:150px;
    background-color: #F0F8FF;
    /*
    border-top:1px solid rgba(42, 171, 210, 0.36);
    */
    overflow-x:hidden;
    overflow-y:auto;
    z-index: 100;
}

#right{
    position:absolute;
    background-color: #F0F8FF;
    top:55px;
    left:155px;
    bottom:0;
    right:0;
    overflow-y:auto;
    overflow-x:hidden;
}
