<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% load staticfiles %}
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>管理中心</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel='icon' href="/static/images/meng.ico" type="image/x-icon" />
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-table/src/bootstrap-table.css" rel="stylesheet">
    <link href="/static/select2/css/select2.min.css" rel="stylesheet">
    <link href="/static/custom/custom.css" rel="stylesheet">
    <script src="/static/otherjs/jquery.min.js"></script>
    <script src="/static/select2/js/select2.full.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="/static/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/otherjs/knockout-3.4.2.js"></script>
    <script src="/static/otherjs/knockout.mapping.js"></script>
    <script src="/static/custom/tablejs/kobootstraptable.js"></script> 
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-xs-2 col-sm-2">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav nav-pills nav-stacked">
                        {% block mainnav %}{% endblock %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-10 col-xs-10 col-sm-10">
                <div>
                    <ul class="nav nav-tabs">
                    {% block secondnav %}{% endblock %}
                    </ul>
                </div>
                <div style="margin:10px;">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
