<li>
	<a href="#dashboard-menu-mal" class="nav-header" data-toggle="collapse" style="background: grey; color: black;"><i class="glyphicon glyphicon-tasks"></i>  故障登记表</a>  
	<ul id="dashboard-menu-mal" class="nav nav-list collapse in ">  
	    <li><a href="/"><i class="glyphicon glyphicon-chevron-right"></i> 未处理</a></li>  
	    <li><a href="/malfunction/done"><i class="glyphicon glyphicon-chevron-right"></i> 已处理</a></li>
	    <li><a href="/malfunction/op_history"><i class="glyphicon glyphicon-chevron-right"></i> 操作记录</a></li>  
	</ul>
</li>
{% if role = 'sa' %}
<li>
	<a href="#dashboard-menu-tomcat" class="nav-header" data-toggle="collapse" style="background: grey; color: black;"><i class="glyphicon glyphicon-tasks"></i>  TOMCAT</a>  
	<ul id="dashboard-menu-tomcat" class="nav nav-list collapse in">  
	    <li><a href="/tomcat/index"><i class="glyphicon glyphicon-chevron-right"></i>   假死监控</a></li>  
	    <li><a href="/tomcat/project"><i class="glyphicon glyphicon-chevron-right"></i>   工程信息</a></li>  
	</ul>
</li>
<li>
	<a href="#dashboard-menu-saltstack" class="nav-header" data-toggle="collapse" style="background: grey; color: black;"><i class="glyphicon glyphicon-tasks"></i>  SALTSTACK</a>  
	<ul id="dashboard-menu-saltstack" class="nav nav-list collapse in">  
	    <li><a href="/saltstack/command"><i class="glyphicon glyphicon-chevron-right"></i>   基础命令</a></li>  
	    <li><a href="/saltstack/restart"><i class="glyphicon glyphicon-chevron-right"></i>   服务重启</a></li> 
	    <li><a href="/saltstack/saltstack_id"><i class="glyphicon glyphicon-chevron-right"></i>   ID管理</a></li>  
	</ul>
</li>
{% endif %}