{% extends "base.html" %}
{% block mainnav %}
    <li><a href="/"><i class="glyphicon glyphicon-th"></i>TOMCAT</a></li>
    <li class="active"><a href="/saltstack/"><i class="glyphicon glyphicon-th-list"></i>SALTSTACK</a></li>
{% endblock %}
{% block secondnav %}
    <li><a href="/saltstack/command">命令管理</a></li>
    <li><a href="/saltstack/restart">服务重启</a></li>
    <li class="active"><a href="/saltstack/id">ID管理</a></li>
    <li class="navbar-right"><a href="/admin">管理后台</a></li>
{% endblock %}
{% block content %}
    {% if clientip %}
        <p>{{ clientip }}</p>
    {% endif %}

{% endblock %}
