{% extends "base.html" %}
{% block mainnav %}
    <li><a href="/"><i class="glyphicon glyphicon-th"></i>TOMCAT</a></li>
    <li class="active"><a href="/saltstack/"><i class="glyphicon glyphicon-th-list"></i>SALTSTACK</a></li>
{% endblock %}
{% block secondnav %}
    <li><a href="/saltstack/command">命令管理</a></li>
    <li><a href="/saltstack/restart">服务重启</a></li>
    <li class="active"><a href="/saltstack/saltstack_id">ID管理</a></li>
    <li class="navbar-right"><a href="/admin">管理后台</a></li>
{% endblock %}
{% block content %}
    <div id="toolbar" class="btn-group">
        <button data-toggle="modal" data-target="btn_query_minion" id="btn_query_minion" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
        </button>
        {% comment %}
        <button id="btn_cancel_select" type="button" class="btn btn-default">
            <span aria-hidden="true"></span>取消所选
        </button>
        {% endcomment %}
    </div>
    <table id="saltstack_id" class="table table-bordered" data-bind="myBootstrapTable:$root">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="minion_id">minion_id</th>
                <th data-field="minion_status">minion_status</th>
            </tr>
        </thead>
    </table>
    <div class="modal fade text-center" id="modal_query_minion" role="dialog" aria-labelledby="modal_query_minion">
        <div class="modal-dialog" style="display:inline-block; width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_query_minion">主机信息</h4>
                </div>
                <div class="modal-body">
            		<div id="queryresults">
            		</div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/custom/tablejs/saltstack_id.js"></script>
{% endblock %}
