{% if title %}
    <title>{{title}}</title>
{% else %}
    <title>管理中心</title>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">历史操作记录表</h4>
    </div>
    <table id="op_history" class="table table-condensed" data-bind="myBootstrapTable:$root" style="word-break:break-all; word-wrap:break-all;">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">id</th>
                <th data-field="op_time" data-sortable="true">操作时间</th>
                <th data-field="op_user" data-sortable="true">操作用户</th>
                <th data-field="op_addr" data-sortable="true">用户地址</th>
                <th data-field="op_type" data-sortable="true">操作类型</th>
                <th data-field="op_before" data-sortable="true">操作前</th>
                <th data-field="op_after" data-sortable="true">操作后</th>
            </tr>
        </thead>
    </table>
</div>
<script src="/static/custom/tablejs/mal_op_history.js" type="text/javascript"></script>
